DATABASE_URL="postgresql://postgres:postgres@localhost:5432/maadan_yatra"
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=""
CLERK_SECRET_KEY=""
BLOB_READ_WRITE_TOKEN=""
# Alternative to BLOB_READ_WRITE_TOKEN on Vercel:
VERCEL_OIDC_TOKEN=""
BLOB_STORE_ID=""
GEMINI_API_KEY=""
GEMINI_MODEL=""
LOG_LEVEL="debug"
LOG_TO_FILE="true"
CLERK_ADMIN_EMAILS="matib275@gmail.com"
